---
_machine_kwds: &machine_kwds
  image: ubuntu-1604:201903-01

_checkout_kwds: &checkout_kwds
  path: ~/neurodocker

_setup_env: &setup_kwds
  name: Setup environment
  command: |
    curl -fsSLO https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
    bash Miniconda3-latest-Linux-x86_64.sh -b -p ~/conda
    echo "export PATH=~/conda/bin:$PATH" >> ~/.bashrc
    source ~/.bashrc
    conda config --system --prepend channels conda-forge
    conda update -n base -yq conda
    conda update -yq --all

    pip install --no-cache-dir -U pip
    pip install --no-cache-dir reprozip codecov pytest-cov
    pip install --no-cache-dir -e ~/neurodocker[dev]


version: 2
jobs:
  test_docker:
    machine:
      *machine_kwds
    working_directory: ~/neurodocker
    steps:
      - checkout:
          *checkout_kwds
      - run:
          *setup_kwds
      - restore_cache:
          keys:
            - dfs-v00-{{ .Branch }}-{{ .Revision }}
            - dfs-v00-{{ .Branch }}
            - dfs-v00
      - run:
          name: Test docker image builds
          no_output_timeout: 360m
          command: |
            source ~/.bashrc
            pytest --cov -k 'test_docker' neurodocker
            codecov
      # - save_cache:
      #     key: dfs-v0-{{ .Branch }}-{{ .Revision }}
      #     when: always
      #     paths:
      #       - /tmp/cache

  test_singularity:
    machine:
      *machine_kwds
    working_directory: ~/neurodocker
    steps:
      - checkout:
          *checkout_kwds
      - run:
          *setup_kwds
      - restore_cache:
          keys:
            - srs-v00-{{ .Branch }}-{{ .Revision }}
            - srs-v00-{{ .Branch }}
            - srs-v00
      - run:
          name: Install singularity
          command: |
            echo "export PATH=/usr/local/singularity/bin:$PATH" >> ~/.bashrc
            source ~/.bashrc
            curl -fsSL https://dl.dropbox.com/s/m4fmejdcmoltzh2/singularity.tar.gz | sudo tar xz -C /usr/local
            singularity version
            pip install -q --no-cache-dir singularity
      - run:
          name: Test singularity image builds
          no_output_timeout: 360m
          command: |
            source ~/.bashrc
            echo $PATH
            pytest --cov -k 'test_singularity' neurodocker
            codecov
      # - save_cache:
      #     key: srs-v000-{{ .Branch }}-{{ .Revision }}
      #     when: always
      #     paths:
      #       - ~/tmp/cache

  test_others:
    machine:
      *machine_kwds
    working_directory: ~/neurodocker
    steps:
      - checkout:
          *checkout_kwds
      - run:
          *setup_kwds
      - run:
          name: Test others (not docker or singularity)
          no_output_timeout: 30m
          command: |
            source ~/.bashrc
            pytest --cov -k 'not test_docker and not test_singularity' neurodocker
            codecov
      - run:
          name: Test examples in /examples directory
          command: |
            source ~/.bashrc
            pytest --cov -k examples/


workflows:
  version: 2
  build_test_deploy:
    jobs:
      - test_docker
      - test_singularity
      - test_others
