on:
  push:
    branches:
    - master
  workflow_dispatch:
permissions:
  contents: write  
jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install neurodocker
        run: python -m pip install --editable .[docs]
      - name: build docs
        run: sphinx-build docs docs-build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs-build # The folder the action should deploy.
