name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-tests:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ['3.9', '3.8', '3.7']
    steps:
      # - name: Cache Singularity
      #   id: cache-singularity
      #   uses: actions/cache@v2
      #   with:
      #     path: $HOME/opt/singularity
      #     key: ${{ runner.os }}-singularity-3.6.4
      #     restore-keys: |
      #       ${{ runner.os }}-singularity-3.6.4
      - name: Install Singularity
        # if: steps.cache-singularity.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install --yes \
            libssl-dev \
            uuid-dev \
            libgpgme11-dev \
            squashfs-tools
          curl -fsSL https://github.com/hpcng/singularity/releases/download/v3.6.4/singularity-3.6.4.tar.gz | tar xz
          cd singularity
          ./mconfig -p $HOME/opt/singularity
          cd builddir
          make
          sudo make install
      - name: Set Singularity environment variables
        run: |
          echo $HOME/opt/singularity/bin >> $GITHUB_PATH
          # Give reproenv the full path to singularity, so it still works with `sudo`.
          echo REPROENV_SINGULARITY_PROGRAM=$HOME/opt/singularity/bin/singularity >> $GITHUB_ENV
          echo SINGULARITY_CACHEDIR=/dev/shm/$(whoami)/singularity >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install reproenv
        run: python -m pip install --editable .[dev]
      - name: Check types
        run: mypy reproenv
      - name: Check style
        run: flake8 reproenv
      - name: Run python tests
        run: pytest --numprocesses auto
      - name: Get code coverage
        run: codecov
