name: linters, formatters and type checking

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install neurodocker
        run: python -m pip install --editable .[dev]

      - name: Check style
        run: flake8 neurodocker

      - name: Check black formatting
        run: black --check neurodocker

      - name: Run isort
        run: isort --diff --check --settings-path pyproject.toml .

  typecheck:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.11', '3.10', '3.9', '3.8']

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install neurodocker
        run: python -m pip install --editable .[dev]

      - name: Check types
        run: mypy --install-types --non-interactive neurodocker
